[Unit]
Description=Media OneDrive (rclone)
AssertPathIsDirectory=/mnt/Media
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount --config=/home/USER/.config/rclone/rclone.conf --allow-other --dir-cache-time 1000h --log-level INFO --vfs-read-chunk-size 32M encrypted:/ /mnt/Media
ExecStop=/bin/fusermount -uz /mnt/Media
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
