[Unit]
Description=NAME (rclone)
AssertPathIsDirectory=/mnt/NAME
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=USER
Group=USER
ExecStart=/usr/bin/rclone mount --config=/home/USER/.config/rclone/rclone.conf --dir-cache-time 1000h --log-level INFO --vfs-read-chunk-size 32M NAME:/ /mnt/NAME
ExecStop=/bin/fusermount -uz /mnt/NAME
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
