[Unit]
Description=School OneDrive (rclone)
AssertPathIsDirectory=/mnt/School
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount --config=/home/sebastien/.config/rclone/rclone.conf --allow-other --dir-cache-time 1000h --log-level INFO --vfs-read-chunk-size 32M onedriveschool:/ /mnt/School
ExecStop=/bin/fusermount -uz /mnt/School
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
